body {
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(135deg,#ffc5c5, #fecfef);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 100%;
}

.rose {
    position: relative;
    width: 120px;
    height: 120px;
}

.petal {
    position: absolute;
    width: 50px;
    height: 70px;
    background: linear-gradient(45deg, #ff6b9d , #e91e63);
    border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
    transform-origin: bottom center ;
}

.petal:nth-child(1){
  top: 0px;
  left: 5px;
  transform: rotate(30deg);
  z-index: 10;  
  box-shadow: 0 0 3px #5c5c5c;
}

.petal:nth-child(2){
    top: 0px;
    left: -5px;
    transform: rotate(-30deg);  
    z-index: 20;
    box-shadow: 0 0 3px #616161;
  }

  .stem {
    width: 6px;
    height: 120px;
    background-color: #4caf50;
    border-radius: 10px;
    position: absolute;
    top: 40px;
    left: 20px;
  }

  .leaf1 {
    width: 25px;
    height: 15px;
    background-color: #4caf50;
    border-radius: 0 100% 0 100%;   
    position: absolute;
    top: 100px;
    left: 1px;
    z-index: 21;
  }
  .leaf2 {
    width: 25px;
    height: 15px;
    background-color: #4caf50;
    border-radius: 0 100% 0 100%;   
    position: absolute;
    top: 100px;
    left: 1px;
    z-index: 21;

  }

 


  

  